@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bordered-table .p-datatable-table {
  border-collapse: collapse;
}

/* เส้นรอบ cell */
.bordered-table .p-datatable-thead > tr > th,
.bordered-table .p-datatable-tbody > tr > td {
  border: 1px solid #e5e7eb;
}

/* เส้นหัวตาราง */
.bordered-table .p-datatable-thead > tr > th {
  background: #f9fafb;
  font-weight: 600;
}

/* hover row */
.bordered-table .p-datatable-tbody > tr:hover {
  background: #f3f4f6;
}